body {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: black;
}
.calculator {
  margin-top: 200px;
  border: 2px solid rgb(59, 85, 0);
  display: flex;
  flex-direction: column;
}
.keys {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.column > * {
  padding: 40px;
  cursor: default;
  border: 1px solid rgb(0, 195, 255);
  background-color: aliceblue;
}

.result {
  padding: 65px;
  background-color: antiquewhite;
  text-align: right;
  border: 1px solid rgb(59, 85, 0);
}

.num {
  background-color: aqua;
}

#division,
#equal {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
