body {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: black;
}
.calculator {
  padding: 200px;
  display: flex;
  flex-direction: column;
}
.keys {
  display: flex;
  justify-content: space-between;
}

.row > * {
  padding: 40px;
  cursor: default;
}

.result {
  padding: 40px;
  background-color: antiquewhite;
  text-align: right;
}

.num {
  background-color: aqua;
}
.operator,
#clear,
#equal {
  background-color: aliceblue;
}
