body {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: black;
}
.calculator {
  padding: 100px;
  display: flex;
  flex-direction: column;
}
.keys {
  display: flex;
  justify-content: space-between;
}
.row > * {
  padding: 20px;
}
.result {
  padding: 20px;
  background-color: antiquewhite;
}

.num {
  background-color: aqua;
}
.operator {
  background-color: aliceblue;
}
